/* 鍵盤全体 */
.piano {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 15px solid #000; /* 一回り大きく囲う */
    height: 8em;
    background-color: #000;
}

/* 白鍵 */
.key {
    position: relative;
    float: left;
    width: 25px;
    height: 120px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 0.5em;
    line-height: 220px; /* 文字の位置調整 */
    text-align: center;
    user-select: none; /* chrome */
    -webkit-touch-callout: none; /* iOS Safari */
    transition: all 0.1s ease-in-out;
}

/* 黒鍵 */
.key.black {
    position: relative;
    z-index: 1;
    width: 15px;
    height: 80px;
    margin: 0 -9px;
    border: none; /* 黒鍵には境界線が不要な場合 */
    background-color: #000;
    color: #fff;
    font-size: 0.5em;
    line-height: 140px; /* 位置調整 */
    text-align: center;
    user-select: none; /* chrome */
    -webkit-touch-callout: none; /* iOS Safari */
    transition: all 0.1s ease-in-out;
}

/* アクティブ(押されている)白鍵(キーボードイベント用) */
.key:active,
/* アクティブな黒鍵(キーボードイベント用) */
.key.black:active,
/* アクティブな白鍵+黒鍵(クリックイベント用) */
.key.active {
    transform: translateY(4px);
}
