/* --- --- --- --- --- --- --- --- */
/* --- --- comment template -- --- */
/* --- --- --- --- --- --- --- --- */

/* --- 表記順 --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
/* position, display, float, clear, visibility, z-index, justify-content */
/* align-items, flex-direction */

/* width, height, margin, padding, border */

/* background, color */

/* font, font-size, line-height, text-align, text-indent, text-transform */
/* letter-spacing, word-spacing, white-space, text-decoration */

/* user-select, transform, cursor, gap, ... */
/* --- ------ --- --- --- --- --- --- --- --- --- --- --- --- --- --- */

/* ----------------------------------------------------- */
/* TODO: */
/* ----------------------------------------------------- */


/* --- --- --- --- --- */
/* --- --- main -- --- */
/* --- --- --- --- --- */

/* すべてに適用 */
* {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
}

#explain {
    font-size: 14px;
}

/* <body></body> 全体 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: auto;
    
    background-color: #c6e1a7;
}

#TopContents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
}