.lyrics_display_box {
    position: relative;
    width: auto;
    min-height: 20em;
    height: auto;
    max-height: 30em; /* これ以上はスクロールになる */
    overflow-x: hidden; /* スクロールを無効にする */
    overflow-y: auto; /* スクロールを可能にする */
    margin: 10px;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    color: #454545;
}

/* めくれた部分 */
.lyrics_display_box:after {
    position: absolute;
    content: '';
    right: -0px;
    top: -0px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.lyrics_display_box p {
    margin: 0; 
    padding: 0;
}

/* 歌詞入力用 */
.lyrics_input_box {
    width: 95%;
    height: 20em;
}

/* 歌詞(音程)入力モード切り替え */
.lyrics_switch_mode {
    width: 20px;
    height: 20px;
}

/* test */
.lyrics {
    color: #454545;
}

.pitch-info {
    color: #888;
    font-size: 0.6em;
    display: block;
}
