/* --- --- --- --- --- --- --- */
/* --- --- score_handler - --- */
/* --- --- --- --- --- --- --- */

/* start button */
#score_start {
    height: 20px;
    width: 50px;
}

/* stop button */
#score_stop {
    height: 20px;
    width: 50px;
}

/* text input: bpm */
#set_bpm_input {
    width: 50px;
}

/* --- --- --- --- --- --- --- */
/* --- --- score_display - --- */
/* --- --- --- --- --- --- --- */

/* 譜面全体 */
.score {
    position: relative;
    width: 800px;
    height: 406px; /* 14 * 29 */
    background-color: #aaa;
    margin-bottom: 10px;
}

/* aとbでscoreを作る */
.bar_a {
    color: blue; /* 文字色 */
    position: relative;
    width: 100%;
    height: 14px;
    background-color: #c5edff;
    margin-bottom: 0px;
    font-size: 0.6em; /* 親要素のフォントサイズの0.6倍 */
    z-index: 1;
}

/* aとbでscoreを作る */
.bar_b {
    color: green; /* 文字色 */
    position: relative;
    width: 100%;
    height: 14px;
    background-color: #d3cbfe;
    margin-bottom: 0px;
    font-size: 0.6em; /* 親要素のフォントサイズの0.6倍 */
    z-index: 1;
}

/* 入力された音程を表すバー */
.highlight {
    position: absolute;
    background-color: rgb(140, 0, 0);  /* バーの色 */
    top: 0;
    width: 1.57%; /* 1 / 64 = 1.57 */
    height: 100%; /* barの大きさに対して100% */
    z-index: 2;
}

/* 入力された音程を表すバー(半音用) */
.highlight.sharp {
    position: absolute;
    /* 以下固定値 */
    background-color: rgb(240, 148, 210);  /* バーの色 */
    top: -0.6em;
    width: 1.57%; /* 1 / 64 = 1.57 */
    height: 100%; /* barの大きさに対して100% */
    z-index: 2;
}

/* 譜面左側の灰色部分 */
.overlay_left {
    position: absolute;
    top: 0;
    left: 0%;
    width: 4%;
    height: 100%;
    background-color: rgba(167, 167, 167, 0.5);
    z-index: 2;
}

/* 灰色部分との境界線 */
.line_left {
    position: absolute;
    top: 0;
    left: 4%; /* 左端の位置 */
    width: 1px;
    height: 100%;
    background-color: #000;
    z-index: 2;
}

/* 半小節分の位置の区切り線 */
.line_middle {
    position: absolute;
    top: 0;
    left: 52%;
    width: 1px;
    height: 100%;
    background-color: #000;
    z-index: 2;
}

/* 譜面をなぞる線 */
#moving_line {
    position: absolute;
    top: 0;
    left: 4%;
    width: 1.5px;
    height: 100%;
    background-color: #2a1f34;
    z-index: 2;
}