select {
    width: min(100%, 300px);
    height: 2em;
    margin: 2em 0;
    cursor: pointer;
}

small {
    font-size: max(0.7em, 12px);
}

.c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 0.8em 1em;
    border: 1px solid #333;
    border-radius: 2em;
    background: #fff;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

.c-btn:hover,
.c-btn.is-current {
    background: #333;
    color: #fff;
}

.c-btn:not(:first-child) {
    margin-top: 2em;
}

.c-switching {
    width: 140%;
}

.c-switchingTabs {
    display: flex;
    gap: 4px;
    margin-bottom: -1px;
}

.c-switchingTabs__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    padding: 0.5em 1em;
    border: 1px solid #333;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    background: lightgray;
    font-size: 20px;
    line-height: 1.4;
    cursor: pointer;
    transition: 0.3s;
}

.c-switchingTabs__tab:hover,
.c-switchingTabs__tab.is-current {
    background: lightblue;
}

.c-switchingContainer {
    max-width: min(90%, 1000px);
    width: 100%;
    padding: 1em 1em 1em;
    border: 1px solid #333;
    background: lightblue;
}

.c-switchingContainer__contents {
    width: 100%;
}

.js-switchingContents {
    /* width: 800px; */
    width: 100%;
    height: 0px;
    opacity: 0;
    overflow: auto;
    transition: 0.3s;
    font-weight: bold;
}

.js-switchingContents.is-open {
    height: auto;
    opacity: 1;
}